#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

MOD_VERSION=$(shell dpkg-parsechangelog |grep ^Version:|cut -d ' ' -f 2)

ifeq ($(shell dpkg-architecture -q DEB_BUILD_ARCH),armhf)

RPI_FIRMWARE_VER = $(shell dpkg-query -f='$${Version}' -W raspberrypi-kernel-headers)
LINUX_DIR_PATH = $(shell dpkg -L raspberrypi-kernel-headers | sed -n '/^\/lib\/modules\/.*-v7.*\/build$$/p')
KERNEL_VERSION = $(subst /lib/modules/,,$(subst /build,,$(LINUX_DIR_PATH)))

else

.raspbian-versions:
	misc/check-raspbian

include ./.raspbian-versions
LINUX_DIR_PATH = ${PWD}/tmp/linux-raspberrypi-kernel_${RPI_FIRMWARE_VER}

endif

%:
	dh $@ --with dkms


override_dh_installmodules:
	DH_AUTOSCRIPTDIR=debian/autoscripts dh_installmodules


override_dh_prep:
	@dh_prep --exclude=neuron-kernel.substvars
	@echo RPI-FIRMWARE-VER=${RPI_FIRMWARE_VER} >> debian/neuron-kernel.substvars
	@sed "s/#MOD_VERSION#/$(MOD_VERSION)/g" debian/unipi-kernel-modules-dkms.install.in > debian/unipi-kernel-modules-dkms.install
	( sed 's/)/.${RPI_FIRMWARE_VER})/;q' debian/changelog; \
	  printf "\n  * Compiled for raspberrypi-kernel\n";\
	  printf "\n -- auto-generator <info@unipi.technology>  %s\n\n" "`date -R`"; \
	  cat debian/changelog;\
	) >debian/neuron-kernel.changelog

override_dh_dkms:
	dh_dkms -V $(MOD_VERSION)

#override_dh_build:

ifneq ($(shell dpkg-architecture -q DEB_BUILD_ARCH),armhf)
override_dh_auto_configure:
	misc/check-raspbian
	misc/current
endif

override_dh_auto_build:
	dh_auto_build -- CCPREFIX=${DEB_TARGET_GNU_TYPE}- \
		LINUX_DIR_PATH=$(LINUX_DIR_PATH) ARCH=${DEB_TARGET_ARCH_CPU}

override_dh_auto_install:
	dh_auto_install --destdir=debian/neuron-kernel -- CCPREFIX=${DEB_TARGET_GNU_TYPE}- \
		LINUX_DIR_PATH=$(LINUX_DIR_PATH) ARCH=${DEB_TARGET_ARCH_CPU}


#override_dh_gencontrol:
#	dh_gencontrol 
