/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708",
"brcm,bcm2709";

    fragment@0 {
       target = <&spi0>;
       frag0: __overlay__ {
          #address-cells = <1>;
          #size-cells = <0>;
          status = "okay";
	  pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
	  cs-gpios = <&gpio 8 1>, <&gpio 7 1>, <&gpio 24 1>, <&gpio 25 1>;
	  neuronspi0: neuronspi@0 {
	     compatible = "neuronspi";
	     reg = <1>;
	     #address-cells = <1>;
	     #size-cells = <0>;
	     spi-max-frequency = <12000000>;
	     pinctrl-0 = <&neuron_0_irq_pin>;
	     pinctrl-names = "default";
	     interrupt-parent = <&gpio>;
	     interrupts = <27 0x1>;
	     status = "okay";
	  };
	  neuronspi1: neuronspi@1 {
	     compatible = "neuronspi";
	     reg = <2>;
	     #address-cells = <1>;
	     #size-cells = <0>;
	     spi-max-frequency = <1200000>;
	     pinctrl-0 = <&neuron_1_irq_pin>;
	     pinctrl-names = "default";
	     interrupt-parent = <&gpio>;
	     interrupts = <23 0x1>;
	     status = "okay";
	  };
	  neuronspi2: neuronspi@2 {
	     compatible = "neuronspi";
	     reg = <3>;
	     #address-cells = <1>;
	     #size-cells = <0>;
	     spi-max-frequency = <1200000>;
	     pinctrl-names = "default";
	     pinctrl-0 = <&neuron_2_irq_pin>;
	     interrupt-parent = <&gpio>;
	     interrupts = <22 0x1>;
	     status = "okay";
	  }; 
       };
    };

    fragment@1 {
       target = <&spidev0>;
       __overlay__ {
       		status = "okay";
	};
    };

    fragment@2 {
    	target = <&spidev1>;
	__overlay__ {
		status = "disabled";
	};
    };

    fragment@3 {
    	target = <&gpio>;
	__overlay__ {
		spi0_cs_pins {
			brcm,pins = <8 7 24 25>;
			brcm,function = <1>;
			brcm,pull = <0>;
		};
		neuron_0_irq_pin: neuron_0_irq_pin {
			brcm,pins = <27>;
			brcm,function = <0>;
			brcm,pull = <1>;
		};
		neuron_1_irq_pin: neuron_1_irq_pin {
			brcm,pins = <23>;
			brcm,function = <0>;
			brcm,pull = <1>;
		};
		neuron_2_irq_pin: neuron_2_irq_pin {
			brcm,pins = <22>;
			brcm,function = <0>;
			brcm,pull = <1>;
		};
	};

    };

    __overrides__ {
    	cs0_pin = <&frag0>,"cs-gpios:4", <&spi0_cs_pins>, "brcm,pins:0";
	cs1_pin = <&frag0>,"cs-gpios:16", <&spi0_cs_pins>,"brcm,pins:4";
	cs2_pin = <&frag0>,"cs-gpios:40", <&spi0_cs_pins>,"brcm,pins:12";
	cs3_pin = <&frag0>,"cs-gpios:28", <&spi0_cs_pins>,"brcm,pins:8";	
	neuron_irq_0 = <&neuronspi0>,"interrupts:0", <&neuron_0_irq_pin>,"brcm,pins:0";
	neuron_irq_1 = <&neuronspi1>,"interrupts:0", <&neuron_1_irq_pin>,"brcm,pins:0";
	neuron_irq_2 = <&neuronspi2>,"interrupts:0", <&neuron_2_irq_pin>,"brcm,pins:0";
    };
};

